@using Bilgeadam.HrPlatform.Entities.Enums;
@model IEnumerable<Advance>
@{
    bool anyOnStandBy = false;
    bool anyApproved = false;
    bool anyDenied = false;

    string[] advanceStatus = { "On Stand By", "Approved", "Denied" };


    foreach (Advance advance in Model)
    {
        if (advance.AdvanceStatus == AdvanceStatus.Approved)
        {
            anyApproved = true;
        }
        else
        {
            anyApproved = false;
        }

        if (advance.AdvanceStatus == AdvanceStatus.OnStandBy)
        {
            anyOnStandBy = true;
        }
        else
        {
            anyOnStandBy = false;
        }

        if (advance.AdvanceStatus == AdvanceStatus.Denied)
        {
            anyDenied = true;
        }
        else
        {
            anyDenied = false;
        }
    }
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">On Stand By</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Approved</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Denied</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <table class="table">
            <thead>
                @if (anyOnStandBy == true)
                {
                    <tr>
                        <th>Amount</th>
                        <th>Advance Type</th>
                        <th>Receieved Time</th>
                    </tr>
                }
                else
                {
                    <tr>There is no advance on stand by</tr>
                }
            </thead>
            <tbody>
                @{
                    if (anyOnStandBy == true)
                    {
                        foreach (Advance advance in Model)
                        {
                            string base64String = Convert.ToBase64String(advance.Employee.ProfilePhoto);

                            if (advance.AdvanceStatus == AdvanceStatus.OnStandBy)
                            {
                                <div class="card bg-warning mb-3 float-lg-start" style="max-width: 400px; margin-right: 25px; margin-top:25px">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="data:image/jpeg;base64,@(base64String)" alt="Profile Photo" class="img-fluid rounded-circle border border-dark" style="margin-left:20px;margin-top:40px; object-fit:cover;" />
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">@advance.Employee.FirstName @advance.Employee.LastName</h5>
                                                <p class="card-text">Amount: @advance.Amount @advance.CurrencyType</p>
                                                <p class="card-text">Advance Type: @advance.AdvanceType</p>
                                                <p class="card-text">Received Time: @advance.ReceievedTime.ToShortDateString()</p>
                                                <p class="card-text">Description: @advance.Description</p>
                                                <form asp-action="AdvanceDetail" asp-controller="Advance" method="post">
                                                    <input type="hidden" name="advance.Id" value="@advance.Id" />
                                                    <button type="submit" class="btn btn-dark-info btn-sm">See Details</button>
                                                </form>
                                                <div class="form-group">
                                                    <form asp-action="ChangeStatus" class="pt-3">
                                                        <select asp-for="@advance.AdvanceStatus" asp-items="new SelectList(advanceStatus)">
                                                            <option selected="selected" value="">Select Status</option>
                                                        </select>
                                                        <button type="submit" value="@advance.Id" class="btn btn-primary">Save</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <table class="table">
            <thead>
                @if (anyApproved == true)
                {
                    <tr>
                        <th>Amount</th>
                        <th>Advance Type</th>
                        <th>Receieved Time</th>
                    </tr>
                }
                else
                {
                    <tr>There is no approved advance</tr>
                }
            </thead>
            <tbody>
                @{
                    if (anyApproved == true)
                    {
                        foreach (Advance advance in Model)
                        {
                            string base64String = Convert.ToBase64String(advance.Employee.ProfilePhoto);


                            if (advance.AdvanceStatus == AdvanceStatus.Approved)
                            {
                                <div class="card text-bg-success mb-3 float-lg-start" style="max-width: 400px; margin-right: 25px; margin-top:25px">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="data:image/jpeg;base64,@(base64String)" alt="Profile Photo" class="img-fluid rounded-circle border border-dark" style="margin-left:20px;margin-top:40px; object-fit:cover;" />
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">@advance.Employee.FirstName @advance.Employee.LastName</h5>
                                                <p class="card-text">Amount: @advance.Amount @advance.CurrencyType</p>
                                                <p class="card-text">Advance Type: @advance.AdvanceType</p>
                                                <p class="card-text">Received Time: @advance.ReceievedTime.ToShortDateString()</p>
                                                <p class="card-text">Description: @advance.Description</p>
                                                <form asp-action="AdvanceDetail" asp-controller="Advance" method="post">
                                                    <input type="hidden" name="advance.Id" value="@advance.Id" />
                                                    <button type="submit" class="btn btn-dark-info btn-sm">See Details</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            }
                        }
                    }
                }
            </tbody>

        </table>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <table class="table">
            <thead>
                @if (anyDenied == true)
                {
                    <tr>


                        <th>Amount</th>
                        <th>Advance Type</th>
                        <th>Receieved Time</th>
                    </tr>
                }
                else
                {
                    <tr>There is no denied advance</tr>
                }
            </thead>
            <tbody>
                @{
                    if (anyDenied == true)
                    {
                        foreach (Advance advance in Model)
                        {
                            string base64String = Convert.ToBase64String(advance.Employee.ProfilePhoto);

                            if (advance.AdvanceStatus == AdvanceStatus.Denied)
                            {
                                <div class="card text-bg-danger mb-3 float-lg-start" style="max-width: 400px; margin-right: 25px; margin-top:25px">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="data:image/jpeg;base64,@(base64String)" alt="Profile Photo" class="img-fluid rounded-circle border border-dark" style="margin-left:20px;margin-top:40px; object-fit:cover;" />
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">@advance.Employee.FirstName @advance.Employee.LastName</h5>
                                                <p class="card-text">Amount: @advance.Amount @advance.CurrencyType</p>
                                                <p class="card-text">Advance Type: @advance.AdvanceType</p>
                                                <p class="card-text">Received Time: @advance.ReceievedTime.ToShortDateString()</p>
                                                <p class="card-text">Description: @advance.Description</p>
                                                <form asp-action="AdvanceDetail" asp-controller="Advance" method="post">
                                                    <input type="hidden" name="advance.Id" value="@advance.Id" />
                                                    <button type="submit" class="btn btn-dark-info btn-sm">See Details</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#myTab a').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
