
@{
    ViewData["Title"] = "CreateCompanyManager";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@{
    string[] gender = {"Male", "Female"};
}
<h1>CreateCompanyManager</h1>
@using Bilgeadam.HrPlatform.Entities.DTOs
@model CompanyManagerDto

<h1 class="bg-info text-white">Yeni Extra Oluşturma</h1>
@if (TempData["result"] != null)
{
    <script>
        alert("İşlem başarılı");
    </script>
}
@if (TempData["resultError"] != null)
{
    <script>
        alert("İşlem başarısız");
    </script>
}
<a asp-action="GetCompanyManager" asp-controller="CompanyManager" class="btn btn-secondary">Company Manager List</a>
<div asp-validation-summary="All" class="text-danger"></div>

@*<form asp-action="CreateExtra" asp-controller="Admin" method="post">*@
@using (Html.BeginForm("CreateCompanyManager", "CompanyManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="Id" hidden></label>
        <input asp-for="Id" class="form-control" hidden />
    </div>
    <div class="form-group">
        <label asp-for="ProfilePhoto" class="control-label col-md-2"></label>
        <div class="col-md-10">
            <input type="file" name="imageFile" />
            <span asp-validation-for="ProfilePhoto" class="text-danger"></span>
        </div>
    </div>
  @*  <div class="form-group">
        <label asp-for="ExtraDb.ExtraCategory.Name" class="control-label">Kategori</label>
        <select asp-for="ExtraDb.ExtraCategoryId" class="form-select">
             <option>Kategori Seçiniz</option>
            @foreach (var item in Model.ExtraCategoryForDropDown)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>*@
    <div class="form-group">
        <input type="text" class="form-control form-control-lg" asp-for="UserName" placeholder="Username">
    </div>
    <div class="form-group">
        <label asp-for="FirstName"></label>
    <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SecondName"></label>
        <input asp-for="SecondName" class="form-control" />
    </div>

    <div class="form-group form-check">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        
    </div>
    <div class="form-group form-check">
        <label asp-for="SecondLastName"></label>
        <input asp-for="SecondLastName" class="form-control" />
    </div>
    <div class="form-group form-check">
        <label asp-for="BirthDate"></label>
        <input asp-for="BirthDate" class="form-control" />
    </div>
    <div class="form-group form-check">
        <label asp-for="BirthPlace"></label>
        <input asp-for="BirthPlace" class="form-control" />
    </div>
    <div class="form-group form-check">
        <label asp-for="TCNo"></label>
        <input asp-for="TCNo" class="form-control" />
    </div>
  
    <div class="form-group form-check">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
    </div>
    <div class="form-group form-check">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>
    <div class="form-group">
        <select asp-for="Gender" asp-items="new SelectList(gender)">
            <option selected="selected" value="">Please select a gender</option>
        </select>
    </div>
   
    <div class="form-group form-check">
        <label asp-for="Profession"></label>
        <input asp-for="Profession" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Company.CompanyName" class="control-label">Kategori</label>
        <select asp-for="Company.Id" class="form-select">
             <option>Kategori Seçiniz</option>
          @*  @foreach (var item in Model.CompanyForDropDown)
            {
                <option value="@item.Value">@item.Text</option>
            }*@
        </select>
    </div>
    <div class="form-group form-check">
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" class="form-control" />
    </div>

    
    <button type="submit" class="btn btn-primary" >Kaydet</button>
}
